body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url('res/splash2.png') no-repeat center center fixed; /* Фоновое изображение */
    background-size: cover; /* Масштабирование фона */
}

canvas {
    display: block;
    background: transparent; /* Сделаем фон прозрачным, чтобы фоновое изображение было видно */
}

#score, #timer {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    pointer-events: none;
}

#min, #dots, #seconds {
    font-size: 28pt;
    margin-top: 0;
    margin-left: 10px;
    float: left;
}

#score {
    top: 10px;
    right: 10px;
}

#timer {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: none;
}

#timer img {
    float: left;
    width: 35px;
}

#gameOverScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

#gameOverScreen button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#gameOverScreen #menuButton {
    margin-top: 10px;
}

#mainMenu {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#mainMenu button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}

#lastScore {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

#main {
    background: url(res/splash1.png) no-repeat center center fixed;
}

#headerMenu {
    position: absolute;
    top: 5px;
    width: 100%;
}

#headerMenu img {
    width: 100%;
}

#headerMenu button {
    position: absolute;
    border-radius: 50px;
    padding: 0;
    width: 50px;
    margin-top: 10px;
    height: 49px;
}

.homeButton {
    left: 15px;
}

.settingButton {
    right: 15px;
}

#main .menuButton {
    position: absolute;

    z-index: 1;
    bottom: 80px;
    /*animation: pulse 1.5s infinite;*/
    /*border: none;*/
    /*background: #f0f0f0;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    /*transition: background 0.3s, box-shadow 0.3s;*/

}

#winFail {
    background: url(res/splash1.png) no-repeat center center fixed;
    background-size: cover;
    /*position: relative;*/
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Фон для затемнения */
#blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.result {
    color: white;
    text-align: center;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    position: absolute;
    bottom: 410px;

    animation: flash 1.5s infinite;
}

#finalText {
    margin: 0;
}

#finalScore {
    margin: 0;
}

/* Картинка gold */
#goldImage {
    position: absolute;
    bottom: 260px;
    width: 100%;
    height: auto;
    z-index: 0;
}

#rocket img {
    display: block;
    width: 100%; /* Обеспечить растяжение изображения на всю ширину контейнера */
    height: auto; /* Сохранить пропорции изображения */
    z-index: 1;
}

#rocket .flash {
    top: 105px;
    position: relative;
    animation: shine 1.5s infinite;
}

#goldImage img {
    display: block;
    width: 100%; /* Обеспечить растяжение изображения на всю ширину контейнера */
    height: auto; /* Сохранить пропорции изображения */
}

.goldWin {
    z-index: 1 !important;
}

#goldImage .flash {
    top: 255px;
    position: relative;
    animation: shine 2s infinite;
}

@keyframes shine {
    0% { filter: brightness(100%); }
    50% { filter: brightness(150%); }
    100% { filter: brightness(100%); }
}

@keyframes flash {
    0% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); }
    50% { text-shadow: 0 0 30px rgba(255, 255, 255, 1); }
    100% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); }
}

#goldImage .gold {
    position: relative;
}

/* Затемнение изображения с помощью псевдоэлемента */
#goldImage::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Наложение сверху изображения */
}

/* Стили для кнопки */
.button {
    position: absolute;
    z-index: 1;
    bottom: 80px;
    animation: pulse 1.5s infinite;
    /*border: none;*/
    /*background: #f0f0f0;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    /*transition: background 0.3s, box-shadow 0.3s;*/
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.8;
    }
}

button:active {
    background: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#winFailMenuButton {
    background: none;
    border: none;
    padding: 0;
}

#winFailMenuButton img {
    display: block;
}